@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

.textCenter {
  text-align: center;
}


header.header {
  width: 90%;
  margin: auto;
  padding: 43px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#expandMenu {
  padding: 5px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #DEB63D;
  color: white;
  height: 73px;
  padding: 0 10%;
  font-size: 11px;
}

.companyLogo {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 250px;
  font-weight: 600;
}

.navbar .navbarItem {
  font-size: 14px;
}
.hero {
  min-width: 85%;
  max-width: 90%;
  margin: auto;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.heroCaption {
  margin: auto;
  padding-bottom: 20px;
}

.hero .heroImage {
  width: 50%;
}

.heroTitle {
  font-size: 48px;
  margin-bottom: 25px;
  max-width: 450px;
}

.heroSubtitle {
  font-size: 15px;
  max-width: 450px;
}

/* main section {
  width: 80%;
  margin: auto;
} */

.pageTitle {
  font-size: 30px;
  margin: 0;
  margin-bottom: 30px;
}

.pageSubtitle {
  font-size: 15px;
}

.sectionWrapper {
  padding: 80px;
  height: 100%;
  width: 100%;
}


.sectionWrapper:has( > .page2) {
  background-color: #5C1A8D;
  color: white;
}

.sectionWrapper:has( > .page3) {
  background-color: #A792FE12;
}

.sectionWrapper:has( > .page4) {
  background-color: #F2C94C;
}

.howToWrapper {
  width: 100%;
  margin: auto;
}

.instructionListContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 750px;
  margin: auto;
}

.instructionListContainer img {
  height: 500px;
}

.instructionList {
  list-style: none;
  max-width: 350px;
  margin: auto;
}

.instructionItem {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.instructionItem.active > div:first-child {
  background-color: #F2C94C;
}

.instructionItem > div:first-child {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  background-color: #F2F2F2;
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3em;
  cursor: pointer;
}

.instructionItem > div:first-child:hover {
  background-color: rgba(242, 201, 76, 0.75);
  /* opacity: 0.7; */
  min-width: 65px;
  min-height: 65px;
  color: white;
  transition-duration: 0.25s;
}

.instructionItem .title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.instructionItem .subtitle {
  font-size: 13px;
  max-width: 379px;
}


/* Cards in Page 3 */
/* .page3 .cards {
  display: flex;
  justify-content: space-around;
} */

.whyHowWrapper {
  padding: 80px;
  position: relative;
  padding-bottom: 239px;
}

.page3 .cards {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: auto;
}



.page3 .cards .card {
  width: 250px;
}

.page3 .card .svgContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3 .card .title {
  font-size: 15px;
  margin: 20px 0;
}

.page3 .card .subtitle {
  font-size: 15px;
}

.signUpPageContainer .title {
  margin-bottom: 30px;
}

.signUpPageContainer .subtitle {
  margin-bottom: 20px;
  max-width: 495px;
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: center;
}

#email {
  border: 1.5px solid #FFFFFF;
  background-color: transparent;
  /* font-family: Brown; */
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 12px;
  width: 342px;
  height: 48px;
  padding: 0px 25px;
  color: white;
  outline: none;
  margin-right: 10px;
}

#email::placeholder {
  color: white;
}


#email.inputError {
  border: 1.5px solid red;
  color: red;
  transition: ease-in 0.5s;
}

#email.inputError::placeholder {
  color: red;
}

#subscribeButton {
  background-color: #2C3539;
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  border: none;
  font-family: 'Cabin', sans-serif;
  padding: 0px 25px;
  /* min-height: 43px; */
  width: 157px;
  height: 48px;
  cursor: pointer;
  transition: .25s;
}

#subscribeButton:hover {
  background-color: rgba(44, 53, 57, 0.5);
  transition: .25s;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  #expandMenu {
    display: block;
  }

  .navbar {
    position: absolute;
    background-color: #2C3539;
    width: 150px;
    padding: 1rem;
    right: 5%;
    border-radius: 5px;
    height: 0;
  }

  .navbar.show {
    height: 150px;
    display: block;  
  }

  .navbar.hide {
    display: none;
  }

  .navbar .navbarItem {
    padding: 10px 10px;  
  }

  .navbar .navbarItem:hover {
    opacity: 0.5; 
  }

  .navbar .navbarItem a {
    color: white;
  }

  .formControl {
    display: block;
  }

  #email {
    margin: auto;
    width: 80%;
  }

  #subscribeButton {
    display: block;
    margin-top: 10px;
    margin: 10px auto;
  }


  #email {
    font-size: 14px;
    line-height: 12px;
    width: 100%;
    height: 48px;
    padding: 0px 25px;
    color: white;
    outline: none;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .hero {
    display: block;    
  }

  .hero .heroImage {
    width: 100%;
  }

  .sectionWrapper {
    padding: 80px 50px;
  }

  .page3 .cards {
    display: block;
  }

  .page3 .cards .svgContainer {
    margin: auto;
  }

  .page3 .cards .card {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .heroTitle {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .heroSubtitle {
    font-size: 12px;
  }
  .sectionWrapper {
    padding: 80px 50px;
  }

  .howToWrapper {
    width: 100%;
  }

  .instructionListContainer {
    display: block;
  }

  .whyHowWrapper {
    padding-bottom: 100px;
  }
}
